.contact-image {
    background: url("../images/winter-4-night-bluesky-cropped.jpg") bottom no-repeat;
    background-size: cover;
    height: 350px;
}

.heading-contact {
    max-width: 500px;
    margin: auto;
}

h1 {
    margin-left: 15px;
    margin-bottom: 0;
}

fieldset {
    border: 0;
    padding: 0;
}

legend {
    font-size: 2em;
    margin-bottom: 10px;
}

.form-error {
    display: none;
}

/* Message error */
.error {
    display: block;
    font-weight: bold;
}

.fill-error {
    border: 2px solid #763438;
    padding: 10px;
}

.valid-icon {
    display: none;
}

/* Message success */
.valid-input-icon {
    color: #3a5964;
    margin-left: 10px;
    display: inline-block;
}

.form-box {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

.form-image {
    margin: 0 15px;
}

img {
    height: 100%;
}

.form-text {
    margin: 15px 15px 40px;
}

.fill-area {
    margin-bottom: 13px;
    display: grid;
}

label {
    margin: 0 0 2px 2px;
}

span {
    font-weight: bold;
}

.instruction {
    font-weight: lighter;
}

button {
    width: 164px;
}

.top-link {
    max-width: 500px;
    margin: 10px auto 30px;
    text-align: left;
}

.top-link a {
    text-align: left;
    margin-left: 15px;
}

.submit-message {
    display: none;
}

.submit-message {
    background: #cfe7cd;
    padding: 10px 15px 25px 15px;
    margin-top: 20px;
}

.submit-message h3,
.submit-message p {
    margin: 10px 0;
}

.submit-message .cta {
    color: #fff;
    background: #3a5964;
    border-color: #3a5964;
}
