.welcome {
    display: flex;
    flex-direction: column;
}

.front_image {
    background: url("../images/outdoors-13-after-umbrella.jpg") center no-repeat;
    background-size: cover;
    height: 300px;
}

.front_text {
    background: #f0f0f0;
    padding: 15px 20px;
}

.front_text h1 {
    margin: 0;
}

/*Latest posts*/

.slider {
    display: grid;
    grid-gap: 20px;
}
.post {
    background: #605654;
}

.latest-posts {
    margin: 20px 8px;
    background: #f0f0f0;
    padding: 20px 0;
}

.latest-posts > * {
    margin: 0 10px;
}
.post-bg-brown {
    position: relative;
    top: -20px;
}

.cta_read-more {
    margin: 15px auto;
}

.latest-posts h2 {
    margin-bottom: 10px;
}
