@media (min-width: 700px) {
    /* Index */

    .welcome {
        flex-direction: row;
    }

    .front_image {
        flex: 1;
        height: auto;
    }

    .front_text {
        flex: 1;
    }

    .footer-links {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .copy {
        width: 600px;
        margin: auto;
    }

    /* Post list */

    .post-list,
    .heading-box {
        max-width: 980px;
    }

    .heading-box {
        margin: auto;
    }

    .post-list .post {
        flex-direction: row;
    }

    .post-list .post-text {
        flex: 1;
    }

    .post-list .post-image {
        flex: 1.2;
    }

    .heading-box {
        flex-direction: row;
    }

    .search {
        margin: 40px 15px 20px auto;
    }

    .search-field {
        width: 300px;
    }
}

@media (min-width: 800px) {
    /* Index */

    .welcome {
        height: 500px;
    }
    .slider {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        max-width: 1280px;
        margin: 20px auto;
    }

    .slider h2 {
        grid-column: -1/1;
    }

    .front_text {
        padding: 50px;
    }

    .front_text .cta {
        margin-top: 40px;
    }
}

@media (min-width: 900px) {
    header {
        display: grid;
        grid-template-columns: auto auto;
        height: 150px;
    }

    .logo-mobile {
        width: 250px;
    }

    nav {
        display: inline-block;
    }

    .hamburger-icon {
        display: none;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-right: 50px;
    }

    .nav-menu a {
        text-align: center;
        margin-top: 50px;
        font-size: 2em;
        padding: 7px;
        border: 2px solid #605654;
    }

    .nav-menu a:hover {
        border: 2px solid white;
        padding: 7px;
    }

    .front_text {
        padding: 80px;
        max-width: 472px;
    }
}

@media (min-width: 900px) {
    .logo-mobile {
        margin-left: 30px;
    }
}
