body {
    background: #f0f0f0;
}

.heading-box {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
}
.search {
    margin: 0 15px;
}

.search form {
    display: flex;
}

.search-btn {
    color: white;
    background-color: #763438;
    border: 3.9px solid #763438;
    height: 35px;
    box-sizing: content-box;
    padding-left: 7px;
}

.fa-search {
    font-size: 1.8em;
}

.search-field {
    border: 3.9px solid #763438;
    height: 35px;
    width: 100%;
    padding-left: 15px;
}

h1 {
    margin-bottom: 20px;
    margin-left: 15px;
}

.post-list {
    margin: 40px auto;
    max-width: 500px;
}

.post {
    background: white;
    margin: 15px;
    border-radius: 35px 0 35px 0;
    box-shadow: 3px 3px 3px #00000012;
}

.post-text {
    background: white;
    border-radius: 0 0 50px 0;
}

.desktop-text {
    display: none;
}

.cta_read-more {
    max-width: 280px;
    margin: 30px auto;
}

.cta-box {
    max-width: 280px;
    margin: 40px auto;
}

.cta-box button {
    width: 100%;
    padding: 9px 7px;
}

.cta_less-box {
    display: none;
}

.cta i {
    margin-left: 10px;
}

.post-list-image {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 30px 0 0 0;
}

h3 {
    color: #4a4443;
    margin-bottom: 15px;
    margin-top: 15px;
}

.image-link {
    display: block;
    height: 100%;
}

.last-post {
    display: none;
}

.show-post {
    display: flex;
}
