html {
    scroll-behavior: smooth;
}

body {
    font-family: "open-sans", sans-serif;
    margin: 0;
    background: white;
}

header,
footer {
    background: #605654;
}

header,
header a,
footer,
footer a {
    color: white;
}

img {
    width: 100%;
}

/* TEXT */
h1,
h2,
nav a,
.copy {
    font-family: "lobster", sans-serif;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
}

h3,
nav a {
    font-size: 1.5em;
}

.cta,
#search-field,
footer li {
    font-size: 1.2em;
}

.cta {
    text-transform: uppercase;
}

/* LINKS */
nav a,
.cta {
    display: block;
}

.current,
footer li a:hover {
    text-decoration: underline;
}

.cta,
nav a,
footer li a {
    text-decoration: none;
}

.image-link {
    margin: 0;
}

/* .cta {
    width: 170px;
    padding: 8px 5px 3px 5px;
    margin: 10px 20px;
} */

/* HEADER */
.logo-mobile {
    width: 160px;
    padding: 25px 10px;
}

.hamburger-icon {
    position: absolute;
}

.hamburger-icon {
    font-size: 2.3em;
    top: 29px;
    right: 31px;
}

nav,
#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    width: 100%;
    display: block;
    border-bottom: 3px solid #605654;
}

#menu-checkbox:checked ~ nav a {
    padding: 20px 20px 25px 25px;
    text-align: center;
}

#menu-checkbox:checked ~ nav a:hover {
    background: white;
    color: #605654;
}

/* FOOTER */
.logo-footer {
    width: 160px;
}

footer h2 {
    margin-bottom: 0;
}

.footer-links i {
    font-size: 2.5em;
}

footer ul {
    padding: 0;
    margin: 10px 0 0 5px;
}

footer li {
    margin-bottom: 7px;
}
