/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

html {
    scroll-behavior: smooth;
}

body {
    font-family: "open-sans", sans-serif;
    margin: 0;
    background: white;
}

header,
footer {
    background: #4a4443;
}

img {
    width: 100%;
}

/* TEXT */
h1,
h2,
nav a,
.copy {
    font-family: "lobster", sans-serif;
    font-weight: lighter;
}

h1,
h2 {
    color: #4a4443;
}

header,
header a,
footer,
footer a,
footer h2 {
    color: white;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3,
nav a {
    font-size: 1.5em;
}

.cta,
#search-field,
footer li {
    font-size: 1.2em;
}

.cta {
    text-transform: uppercase;
    background: #763438;
    border: 3.5px solid #763438;
    padding: 7px;
    text-align: center;
    color: white;
}

.cta:hover {
    background: white;
    color: #763438;
}

.cta_read-more {
    padding: 7px;
    border: 3.5px solid #763438;
    color: white;
    background: #763438;
    width: 150px;
}

.cta_read-more:hover {
    background: white;
    color: #763438;
}

.date {
    font-style: italic;
}

/* LINKS */
nav a,
.cta {
    display: block;
}

.current,
footer li a:hover {
    text-decoration: underline;
}

.cta,
nav a,
footer li a {
    text-decoration: none;
}

.image-link {
    margin: 0;
}

.categories {
    font-weight: bold;
}

.categories span {
    text-decoration: underline;
    color: #763438;
}

.top-link {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.top-link a {
    color: #763438;
    text-decoration: underline;
}

/* HEADER */
.logo-mobile {
    width: 160px;
    padding: 25px 10px;
}

.hamburger-icon {
    position: absolute;
}

.hamburger-icon {
    font-size: 2.3em;
    top: 29px;
    right: 31px;
}

/* .close-icon {
    font-size: 2.3em;
    top: 29px;
    right: 70px;
    display: none;
} */

nav,
#menu-checkbox,
#close-menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ nav {
    width: 100%;
    display: block;
}

#menu-checkbox:checked ~ nav a {
    padding: 20px 25px;
    text-align: center;
    border-top: 1px solid white;
}

#menu-checkbox:checked ~ nav a:hover {
    background: white;
    color: #4a4443;
}

/* #menu-checkbox:checked ~ .hamburger-icon {
    color: #605654;
} */

/* FOOTER */

.logo-footer {
    width: 160px;
}

footer h2 {
    margin-bottom: 0;
}

.footer-links {
    padding: 20px 50px;
    max-width: 600px;
    margin: auto;
}

.footer-links i {
    font-size: 2.5em;
    background: #4a4443;
    padding: 3px;
    border-radius: 50%;
    margin-right: 4px;
}

.footer-links i:hover {
    background: white;
    color: #4a4443;
}

footer ul {
    padding: 0;
    margin: 10px 0 0 5px;
    list-style: none;
}

footer li {
    margin-bottom: 7px;
}

.copy {
    padding: 20px 50px;
}

/* POSTS */

.post {
    display: flex;
    flex-direction: column;
}

.post-text {
    background: white;
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 3px 0;
}

.post-text > * {
    margin: 12px 6px;
}

.cta_read-more,
.cta_more {
    margin: 15px auto;
}
